body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-width: 585px;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header, main, footer{
    padding: 1rem;
}

.front-page{
    padding: 0;
}


#logo{
    
}


/*Styling for navbaren*/
header ul.navbar{
    gap: 0.5rem;
    list-style: none;
    font-size: 1rem;
    padding: -1rem;
    text-align: center;
}

header ul.navbar a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

ul.navbar{
    padding: 0;
    text-align: center;
}


/*Styling for de gule knappene*/
.yellow-btn{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: 300;
    margin: 0.5rem 0 0 0;
    
   
}


/*Styling for den svarte streken øverst*/
hr.strek {
    border: 1px solid #e6bd43;
    width: 100%;
    margin: -0.5rem 0 3rem 0;
} 


.company{
    background-image: ;
}


.clients{
    background-color: #e6bd43;
}


#go-to-top-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
    background-color: #000;
}


.btn{
    border-style: solid;
    color: #000;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
}

.branding{
    margin-top: 3rem;
}