body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-width: 585px;
    text-align: center;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header, main, footer{
    padding: none;
}

header{
    grid-area: header;
}

.front-page{
    padding: 0;
}



/*Styling for navbaren*/
header ul.navbar{
    gap: 0.5rem;
    list-style: none;
    font-size: 1rem;
    padding: -1rem;
    text-align: center;
}

header ul.navbar a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}


ul.navbar{
    padding: 0;
    text-align: center;
}

/*Grid*/
main{
    grid-area: main;
}

/*Skjuler videoen på index siden*/
main section.headline-desktop{
    display: none;
}

/*Style på bildet på index siden*/
main section.headline-mobile{
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    max-height: 400px;
    height: 400px;
    width: 100%;
}


/*Slik at bildet på index siden skal være helt ute til kantene på mobilversjon, og at bildet blir litt lysere*/
#img-office{
    width: 600px;
    opacity: 0.4;
}

main section article.img-section-content{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}


/*Style på bildet på about siden*/
main section.company{
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    max-height: 400px;
    height: 400px;
    width: 100%;
}



/*Style for hvordan teksten skal ligge over bildet på about siden*/
main section article.company-text{
    position: absolute;
    top: 10%;
    width: 90%;
    height: 80%;
    text-align: left;
    background: rgba(192, 192, 192, 0.9);
    color: #000;
    padding: 1rem;
    margin: 1rem;
}


/*Style på bildet på index siden*/
main section.portfolio{
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    max-height: 400px;
    height: 400px;
    width: 100%;
}

/*Slik at bildet på portfolio siden skal være helt ute til kantene, og at bildet blir litt lysere*/
#img-office3{
    width: 100%;
    opacity: 0.4;
}


main section article.portfolio2{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}


/*Funker ikke, fant kode fra tidligere arbeid i emnet. Styling for portfolio bildet*/
main section.portfolio{
    text-align: center;
    background-image: url("img/office.jpg");
    background-size: cover;
    padding: 0 0 1rem 0;
}


/*Styling for innholdet under overskrift bildet på portfolio siden*/
main section.portfolio2{
    text-align: left;
    margin: 2rem 8rem 2rem 8rem;
}

/*Størrelse på ikonene*/
#icon1{
    font-size: 150%;
}

/*Størrelse på ikonene*/
#icon2{
    font-size: 150%;
}

/*Størrelse på ikonene*/
#icon3{
    font-size: 150%;
}


main section.newsletter{
    background-color: #efefef;
    padding: 2rem;
}

#email-signup1{
    background-color: #e6bd43;
}


/*Bakgrunnsfarge bak "Some of our clients" på about siden*/
.clients{
    background-color: #e6bd43;
    padding: 2rem;
}




.about-our-company{
    background-color: #e6bd43;
    padding: 2rem;
}

/*Styling for de gule strekene på portfolio siden*/
hr.strek {
    border: 1px solid #e6bd43;
    margin: -0.5rem 0 3rem 0rem;
} 

/*Go to top knapp på alle sidene*/
#go-to-top-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
    background-color: #252525;
    cursor: pointer;
}

/*Styling for de gule knappene*/
.yellow-btn{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: 300;
    margin: 0.5rem 0 0 0;
}

/*Styling for de gule knappene*/
a.active-link{
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
}

/*Knapp med svart kant på portfolio siden*/
.btn{
    border-style: solid;
    color: #000;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
}

 /*Avstand fra overskrift til knappene over på portfolio siden*/
.branding{
    margin-top: 3rem;
}

main section.contact-form{
    background-color: #efefef;
    height: 600px;
    padding:10px;
   
}


main section article.form-send-message{
    float:left;
    text-align: center;
    width: 100%;
       
}

main section article.contact{
    float:right;
   text-align: center;
    width:100%;

}


main section.maps{
    background-color: #0000;
    padding: noe;
    height: 200px;
}

footer{
    grid-area: footer;
    background-color: #252525;
    color: #fff;
    padding: 2rem 2rem 0 2rem;
}


/*Ikonene for sosiale medier i bunnen av sidene*/
ul#social-icons{
    padding: 0;
    margin: 0 0 10rem 0;
    font-size: 30px;
    color: #fff;
}


/*Slik at ikonene blir hvite*/
.fa-square-facebook{
    color: #fff;
}


/*Slik at ikonene blir hvite*/
.fa-square-instagram{
    color: #fff;
}


/*Slik at ikonene blir hvite*/
.fa-linkedin{
    color: #fff;
}


footer section.footer-desktop{
    display: none;
}


@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        padding: 1rem;
        text-align: center;
    }

    main, footer{
        padding: none;
        text-align: center;
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #fff;
        min-width: 585px;
        max-width: 1600px;
        text-align: center;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 4rem 0 0 0;
    }


    #logo{
        float: left;
    }

    #logo2{
        float: left;
    }
    
    /*Styling for navbaren*/
    header ul.navbar{
        gap: 0.5rem;
        list-style: none;
        font-size: 1rem;
        padding: -1rem;
        text-align: center;
        float: right;
    }

    /*For at bildet på mobilversjonen skal bli borte*/
    main section.headline-mobile{
        display: none;
    }

    /*Styling for videoen under overskriften på index siden*/
    main section.headline-desktop{
        position: relative;
        display: inline-block;
        overflow: hidden;
        max-height: 400px;
        height: 400px;
        width: 100%;
    }


    #myVideo{
            width: 100%;
            min-width: 730px;
    }

    /*Styling for teksten over videoen på index siden. Så på W3 schools. Lenke=https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center*/
    main section article.video-section-content{
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;

    }


    /*Noe feil med teksten til videoen*/
    main section article.video-section-content{
        padding: 1rem;
    }

    /*Slik at yeksten får padding på sidene*/
    main section.subheading{
        padding: 0 15rem 0 15rem;
    }

    main section.about-our-company{
        background-color: #e6bd43;
        padding: 2rem;
        height: 300px;
    }

    /*Style for å få placeholder på forsiden til å ligge riktig*/
    #placeholder{
        float: left;
        width: 300px;
        padding: 0 2rem 0 0;
    }

    /*Styling for de gule strekene på portfolio siden*/
    hr.strek {
        border: 1px solid #e6bd43;
        margin: -0.5rem 0 3rem 0rem;
    } 


    main section article.text-about-company{
        text-align: left;
    }



    #our-services{
        text-align: center;
    }

    #text-services{
        padding: 0 1rem 0 1rem;
    }

    #text-services1{
        padding: 0 1rem 0 1rem;
    }

    #text-services2{
        padding: 0 1rem 0 1rem;
    }

    #text-services3{
        padding: 0 1rem 0 1rem;
    }

    main section article.services{
        display: inline-block;
        
    }
    /*Style for hvordan teksten og tekstboksen skal ligge over bildet på about siden*/
    main section article.company-text{
        position: absolute;
        top: 15%;
        width: 50%;
        text-align: left;
        background: rgba(192, 192, 192, 0.9);
        color: #000;
        right: 0;
        padding: 0 0 0 1rem;
        margin: 0 2rem 2rem 0;
    }


    .container{
        flex-direction: row;
    }

    /*Setter opp en flex-container*/
    .default-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Gjelder for h3 inni elementer med klassen 'default-flex'.*/
    .default-flex h3 {
        flex-basis: 100%;
    }

    /*Gjelder for artikkel-elementer inne i elementer med klassen 'default-flex'*/
    .default-flex article {
        flex-basis: 33%;
        min-width: 300px;
        flex-grow: 3;
    }

    /*Gjelder for bilder inne i artikkel-elementer.
    Setter bredden til bildet til 100% av forelder-elementet. */
    .default-flex article img {
        width: 80%;
    }

        /*Setter opp en flex-container*/
    .default-flex2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Gjelder for h3 inni elementer med klassen 'default-flex'.*/
    .default-flex2 h3 {
        flex-basis: 100%;
    }

    /*Gjelder for artikkel-elementer inne i elementer med klassen 'default-flex'*/
    .default-flex2 article {
        flex-basis: 33%;
        min-width: 300px;
        flex-grow: 3;
    }

    /*Gjelder for bilder inne i artikkel-elementer.
    Setter bredden til bildet til 100% av forelder-elementet. */
    .default-flex2 article img {
        width: 80%;
    }

    /*Setter opp en flex-container*/
    .default-flex3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Gjelder for h3 inni elementer med klassen 'default-flex'.*/
    .default-flex3 h3 {
        flex-basis: 100%;
    }

    /*Gjelder for artikkel-elementer inne i elementer med klassen 'default-flex'*/
    .default-flex3 article {
        flex-basis: 50%;
        min-width: 250px;
        flex-grow: 3;
    }

    /*Gjelder for bilder inne i artikkel-elementer.
    Setter bredden til bildet til 100% av forelder-elementet. */
    .default-flex3 article img {
        width: 80%;
    }


    /*Slik at bildet på about siden på desktop skal være helt ut til kanten*/
    #img-office2{
        width: 100%;
    }


    main section.contact-form{
        background-color: #efefef;
        height: 400px;
        padding:10px;
    }
    
    
    main section article.form-send-message{
        float:left;
        text-align: left;
        width:50%;  
    }
    

    main section article.contact{
        float:right;
       text-align: left;
        width:50%;
    }
    
    main section.maps{
        background-color: #00000;
        padding: noe;
        height: 200px;
    }
    
/*Footer for desktopversjonen*/
    footer section.footer-section{
        background-color: #252525;
        height: 200px;
        padding:10px;
    }

    
    /*Ikonene for sosiale medier i bunnen av sidene*/
    #social-icons{
        padding: 0;
        margin: 0 0 10rem 0;
        font-size: 30px;
        color: #fff;
        float: right;
    }

    .footer.img{
        width: 210px;
    }


    footer p{
        font-size: 20px;
        padding: 10rem 2rem 0rem 2rem;
    }


    footer section{
        display: flex;
        justify-content: space-between;
        padding: 13rem 5rem 3rem 5rem;
    }

    
}