body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-width: 585px;
    text-align: center;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header, main, footer{
    padding: none;
}

header{
    grid-area: header;
}

.front-page{
    padding: 0;
}



/*Styling for navbaren*/
header ul.navbar{
    gap: 0.5rem;
    list-style: none;
    font-size: 1rem;
    padding: -1rem;
    text-align: center;
}

header ul.navbar a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}


ul.navbar{
    padding: 0;
    text-align: center;
}

/*Grid*/
main{
    grid-area: main;
}

/*Skjuler videoen*/
main section.headline-desktop{
    display: none;
}

/*Style på bil*/
main section.headline-mobile{
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    max-height: 400px;
    height: 400px;
    width: 100%;
}


#img-office{
    width: 600px;
    opacity: 0.3;
}

main section article.img-section-content{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

}



/*Funker ikke, fant kode fra tidligere arbeid i emnet. Styling for portfolio bildet*/
main section.portfolio{
    text-align: center;
    background-image: url("img/office.jpg");
    background-size: cover;
    padding: 0 0 1rem 0;
}


/*Styling for innholdet under overskrift bildet på portfolio siden*/
main section.portfolio2{
    text-align: left;
    margin: 2rem 8rem 2rem 8rem;
}

#icon{
    font-size: 150%;
}

main section.newsletter{
    background-color: #efefef;
    padding: 2rem;
}


/*Bakgrunnsfarge bak "Some of our clients" på about siden*/
.clients{
    background-color: #e6bd43;
    padding: 2rem;
}

.about-our-company{
    background-color: #e6bd43;
    padding: 2rem;
}

/*Styling for de gule strekene på portfolio siden*/
hr.strek {
    border: 1px solid #e6bd43;
    margin: -0.5rem 0 3rem 0rem;
} 

/*Go to top knapp på alle sidene*/
#go-to-top-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
    background-color: #252525;
    cursor: pointer;
}

/*Styling for de gule knappene*/
.yellow-btn{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: 300;
    margin: 0.5rem 0 0 0;
}

/*Knapp med svart kant på portfolio siden*/
.btn{
    border-style: solid;
    color: #000;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
}

 /*Avstand fra overskrift til knappene over på portfolio siden*/
.branding{
    margin-top: 3rem;
}


footer{
    grid-area: footer;
    background-color: #252525;
    color: #fff;
    padding: 2rem;
}


/*Ikonene for sosiale medier i bunnen av sidene*/
ul#social-icons{
    padding: 0;
    margin: 0;
    font-size: 30px;
}


footer section.footer-desktop{
    display: none;
}


@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        padding: 1rem;
        text-align: center;
    }

    main, footer{
        padding: none;
        text-align: center;
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #fff;
        min-width: 585px;
        max-width: 1600px;
        text-align: center;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 1rem;
        
    }

    #logo{
        float: left;
    }
    
    /*Styling for navbaren*/
    header ul.navbar{
        gap: 0.5rem;
        list-style: none;
        font-size: 1rem;
        padding: -1rem;
        text-align: center;
        float: right;
    }

/**/
    main section.headline-mobile{
        display: none;
    }

    main section.headline-desktop{
        position: relative;
        display: inline-block;
        background-color: yellow;
        overflow: hidden;
        max-height: 400px;
        height: 400px;
        width: 100%;
    }


    #myVideo{
            width: 100%;
            min-width: 730px;
    }


    main section article.video-section-content{
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;

    }


    /*Noe feil med teksten til videoen*/
    main section article.video-section-content{
        padding: 1rem;
    }

    /*Slik at yeksten får padding på sidene*/
    main section.subheading{
        padding: 0 15rem 0 15rem;
    }

    main section.about-our-company{
        background-color: #e6bd43;
        padding: 2rem;
        height: 300px;
    }

    /*Style for å få placeholder på forsiden til å ligge riktig*/
    #placeholder{
        float: left;
        width: 300px;
        padding: 0 2rem 0 0;
    }


    main section article.text-about-company{
        text-align: left;
    }

    #our-services{
        text-align: center;
    }

    #text-services{
        padding: 0 1rem 0 1rem;
    }

    main section article.services{
        display: inline-block;
        
    }



    /**/
    footer section.footer-desktop{
        display: flex;
        gap: 0.5rem;
        list-style: none;
        font-size: 1rem;
        padding: -1rem;
        flex-direction: column;
    }
    .footer.img{
        width: 210px;
    }

    footer p{
        font-size: 20px;
        padding: 10rem 2rem 0rem 2rem;
    }

    footer section{
        display: flex;
        justify-content: space-between;
        padding: 13rem 5rem 3rem 5rem;
    }
}